<!DOCTYPE html>
  <!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
  <!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
  <!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
  <!--[if (gte IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />

    <!-- Add any tracking or verification meta content below this line -->
    <!-- Facebook or Google Analytics tracking should be placed in your Online store > Preferences and not your theme -->

    <!-- Meta content
    ================================================== -->

    <title>
      {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>
    {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
    {% endif %}
    <link rel="canonical" href="{{ canonical_url }}" />
    {% include 'social-media-meta-tags' %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Favicons
    ================================================== -->

    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}">

    <!--------- Assign font picker families from theme settings --->

    {% assign main_font = settings.main_font %}
    {% assign heading_font = settings.heading_font %}
    {% assign nav_font = settings.nav_font %}

    
    {%- assign main_font_bold = main_font | font_modify: 'weight', 'bolder' -%}
    {%- assign main_font_italic = main_font | font_modify: 'style', 'italic' -%}
    {%- assign main_font_bold_italic = main_font_bold | font_modify: 'style', 'italic' -%}
    
    {% style %}
      {{ main_font | font_face : font_display: 'swap' }}
      {{ nav_font | font_face : font_display: 'swap' }}
      {{ heading_font | font_face : font_display: 'swap' }}
      {% if main_font_bold %}
        {{ main_font_bold | font_face : font_display: 'swap' }}
      {% endif %}

      {% if main_font_italic %}
        {{ main_font_italic | font_face : font_display: 'swap' }}
      {% endif %}

      {% if main_font_bold_italic %}
        {{ main_font_bold_italic | font_face : font_display: 'swap' }}
      {% endif %}

      :root{
        --main-font-family: {{settings.main_font.family}}, {{settings.main_font.fallback_families}};
        --main-font-weight: {{settings.main_font.weight}};
        --heading-font: {{heading_font.family}}, {{heading_font.fallback_families}};
        --heading-font-weight: {{heading_font.weight}};
        --nav-font-family: {{nav_font.family}}, {{nav_font.fallback_families}}; 
        --nav-font-weight: {{nav_font.weight}};
      }
    {% endstyle %}
    <style>
      .slide_image{
        max-height: 800px;
        overflow: hidden;
      }
      #newsletter.homepage-section #social-icons a{
        display: inline-block; 
        font-size: 16px; 
        padding: 0 5px;
      }
      
      #newsletter.homepage-section #social-icons a:hover{
        border: none;
      }
    </style>
    {% render 'critical-css-home' %}
    <!-- CSS
    ================================================== -->
    <link rel="preload" href="{{ 'font-awesome.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ 'font-awesome.css' | asset_url }}"></noscript>
    <link rel="preload" href="{{ 'stylesheet.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ 'stylesheet.css' | asset_url }}"></noscript>
    <link rel="preload" href="{{ 'queries.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ 'queries.css' | asset_url }}"></noscript>

    <!-- Typography
    ================================================== -->

    {% include 'google-fonts' %}

    <!-- JS
    ================================================== -->

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="{{ 'eventemitter3.min.js' | asset_url }}" async></script>
    <script src="{{ 'jquery.fs.shifter.js' | asset_url }}" async></script>
    <script src="{{ 'theme.js' | asset_url }}" async></script>
    <script src="{{ 'option_selection.js' | shopify_asset_url }}" async></script>
    
    {% if template contains 'customers' %}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" async></script>
      <script src="{{ 'customer_area.js' | shopify_asset_url }}" async></script>
    {% endif %}

    {% comment %}{{ content_for_header }}{% endcomment %}
    {{ content_for_header | replace : ' href=', ' data-href=' | replace : "addEventListener('load'", "addEventListener('wnw_load'" | replace : "document.addEventListener('DOMContentLoaded", "document.addEventListener('DOMContentLoaded2" | replace : 'defer="defer" src=', 'type="lazyload2" defer="defer" data-src=' }}
    <script>var trekkie=[];trekkie.integrations=!0;</script>

  </head>

  <body class="gridlock shifter {% if template contains 'product' %}product{% elsif template contains 'collection' %}collection{% else %}{{ template }}{% endif %}">
    {% include 'timber-cart' %}
    {% section 'mobile-navigation' %}
    <div class="shifter-page{% if settings.ajax_cart_method == 'drawer' %} is-moved-by-drawer{% endif %}" id="PageContainer">
      <div class="page-wrap">
        {% section 'header' %}
        <div class="clear"></div>
        {% if template contains 'collection' %}
          {% if collection.description contains '[banner]' %}
            {% capture banner %}{{ collection.handle }}.jpg{% endcapture %}
            <div class="collection-banner">
              {% include 'collection-banner-image' %}
            </div>
          {% endif %}
        {% endif %}


        {% if template == 'index' or template contains 'blog' or template contains 'list-collections' %}
          {%- if template == 'index' -%}
            <div class="index-sections">
          {%- endif -%}
              {{ content_for_layout }}
        {% else %}
          <div id="content" class="row">
            {% if template != 'index' %}
              {% if settings.breadcrumb %}
                {% include 'breadcrumb' %}
              {% endif %}
            {% endif %}
            {{ content_for_layout }}
          </div>
        {% endif %}
      </div>  <!-- close the page-wrap class -->
      {% section 'footer' %}
    </div> <!-- close the shifter-page class -->


    {% include 'popup' %}

    <a href="#" class="scrollup"><i class="icon-chevron-up icon-2x"></i></a>
    <div class="fancybox-wrapper"></div>

    <script src="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" type="text/javascript" async></script>

    {% if settings.show-facebook-like %}
      <div id="fb-root"></div>
      <script type="lazyload2">
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=127142210767229";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      </script>
    {% endif %}

    {% if settings.ajax_cart_method == 'drawer' %}
      {{ 'handlebars.min.js' | asset_url | script_tag }}
      {% include 'ajax-cart-template' %}
      {{ 'ajax-cart.js' | asset_url | script_tag }}
      <script>
        jQuery(function($) {
          ajaxCart.init({
            formSelector: '.product_form',
            cartContainer: '#CartContainer',
            addToCartSelector: '.AddtoCart',
            cartCountSelector: '.CartCount',
            cartCostSelector: '.CartCost',
            moneyFormat: {{ shop.money_format | json }}
        });
        });
        jQuery('body').on('ajaxCart.afterCartLoad', function(evt, cart) {
          // Bind to 'ajaxCart.afterCartLoad' to run any javascript after the cart has loaded in the DOM
          timber.RightDrawer.open();
        });
      </script>
    {% endif %}

    <!-- Responsive Images -->
    <script src="{{ 'lazysizes.min.js' | asset_url }}" async></script>
    <script src="{{ 'ls.rias.min.js' | asset_url }}" async></script>
    <script src="{{ 'ls.bgset.min.js' | asset_url }}" async></script>

    <script>
      document.documentElement.className = document.documentElement.className.replace("no-js","js");
    </script>
    <!-- Fancybox JS -->
    <script src="{{ 'jquery.fancybox.js' | asset_url }}" defer></script>
    <!-- Add any additional scripts below this line -->
    <script>   
      $(function(){
        $(document).on('change', 'input[name="inptchkcarnotes"]', function() {
          if(this.checked) {
            // checkbox is checked
            //alert('hi');
            $(".cartnotes").addClass("active");
          } else{
            // unchecked
            $(".cartnotes").removeClass("active");
          }
        });
      })
    </script>
    <style>
      .cartnotes.active{
        display:block !important;
      }
      label[for="inptchkcarnotes"] {
        text-align: left;
        line-height: 14px;
        margin-bottom: 15px;
      }
      label[for="note"] {
        text-align: left;
      }
      input[name="inptchkcarnotes"] {
        width: auto !important;
        float: left;
        margin-right: 5px;
        margin-bottom: 0;
        min-width: auto !important;
        min-height: 15px;
      }
    </style>
    {% render 'optimization-js' %}
  </body>
</html>
